.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.results {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resultsRow {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
